{% extends "base.html" %}
{% block page_title %}{{ html_title }}{% endblock %}
{% block head %}
    {% autoescape off %}
    <script>
        var domainData = {{ domain_data_json }};
        var nextChapter = "/{{ language_code }}/{{ next_chapter }}";
        var previousChapter = "/{{ language_code }}/{{ previous_chapter }}";
        var backChapter = "/{{ language_code }}/{{ back_chapter }}";
        var tutorialData = {{ tutorial_data_json }};
    </script>
    {% endautoescape %}
    <script src="/static/js/learnpython.js"></script>
{% endblock %}

{% block title %}{% if tutorial_page %}{{ page_title }} - {% endif %}Learn {{ domain_data.language_uppercase }} - Free Interactive {{ domain_data.language_uppercase }} Tutorial{% endblock %}
{% block ogtitle %}{% if tutorial_page %}{{ page_title }} - {% endif %}Learn {{ domain_data.language_uppercase }} - Free Interactive {{ domain_data.language_uppercase }} Tutorial{% endblock %}
{% block ogurl %}{{ domain_data.full_url }}{% if tutorial_page %}/{{ path }}{% endif %}{% endblock %}

{% block content %}
<div class="container" id="main">
    <div class="row">

        <div class="col">

            {% if page_title %}
            <ul class="breadcrumb" style="margin-top: 10px">
              {% if back_chapter %}
              <li><a href="/{{ language_code }}/{{ back_chapter }}">{{ back_chapter }}</a> <span class="divider mr-1">/</span></li>
              {% endif %}
              <li class="active">{{ page_title }}</li>
            </ul>
            {% endif %}

            <span id="inner-text">{% autoescape off %}
                {% if page_title %}
                <h1>{{ page_title }}</h1>
                <hr/>
                {% endif %}
                {{ text }}
            {% endautoescape %}</span>

            <!-- DataCamp-Light exercise -->
            {% if page_title %}
            <div data-datacamp-exercise data-lang="python" data-height="400">
              <code data-type="pre-exercise-code"></code>
              <code data-type="sample-code">{{tutorial_data.code}}</code>
              <code data-type="solution">{{tutorial_data.solution}}</code>
              <code data-type="sct">{{tutorial_data.output}}</code>
            </div>
            {% endif %}

            <div>
                {% if previous_chapter %}
                <a class="btn btn-primary pull-left" href="/{{ language_code }}/{{ previous_chapter }}">
                    <i class="fas fa-angle-double-left"></i> Previous Tutorial
                </a>
                {% endif %}
                {% if next_chapter %}
                <a class="btn btn-primary pull-right" href="/{{ language_code }}/{{ next_chapter }}">
                    Next Tutorial <i class="fas fa-angle-double-right"></i>
                </a>
                {% endif %}
            </div>

            <div class="hidden-phone">

            {% if domain_data.courses %}
            <h3>Online Courses</h3>
            <div class="row">

                {% for course in domain_data.courses %}
                <div class="course col-2">
                    <a href="{{ course.link }}">
                        <img src="{{ course.image_url }}">
                        <p style="font-weight: bold; margin-top: 10px; font-size: 14px">{{ course.link_name }}</p>
{#                    <div>Retail Price: ${{ course.retail_price }}</div>#}
{#                    <div style="text-size: 12px">{{ course.advertiser }}</div>#}
                    </a>
                    <img src="{{ course.pixel_url }}" width="1" height="1" border="0"/>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            </div>

        </div>

    </div>
</div>

{% include "footer.html" %}

{% endblock %}
